<h1>my first project</h1>
<p>Find me in app/views/home/index.html.erb</p>
<a href="/home/about/">About Us from HTML</a><br/>
<a href="/home/about/">home</a><br/>
<a href="/home/details/">details</a><br/>
<a href="/home/contact/">contact</a><br/>
<a href="/home/about/">About Us</a><br/>


<a href="/home/youtube/">you tube from HTML</a><br/>

<%= link_to('About us from RUBY',{:action=>'about'}) %>

<%= link_to('youtube from RUBY',{:action=>'youtube'}) %>







